Source: pixman
Section: devel
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: Julien Cristau <jcristau@debian.org>
Build-Depends: quilt, debhelper
Standards-Version: 3.7.2

Package: libpixman1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: pixel-manipulation library for X and cairo
 A library for manipulating pixel regions -- a set of Y-X banded
 rectangles, image compositing using the Porter/Duff model
 and implicit mask generation for geometric primitives including
 trapezoids, triangles, and rectangles.

Package: libpixman1-dbg
Section: libdevel
Priority: extra
Architecture: any
Depends: libpixman1 (= ${binary:Version})
Description: pixel-manipulation library for X and cairo (debugging symbols)
 Debugging symbols for the Cairo/X pixel manipulation library.  This is
 needed to debug programs linked against libpixman0.

Package: libpixman-dev
Section: libdevel
Architecture: any
Depends: libpixman0 (= ${binary:Version})
Conflicts: libpixman1-dev
Description: pixel-manipulation library for X and cairo (development files)
 Development libraries, header files and documentation needed by
 programs that want to compile with the Cairo/X pixman library.
